
# wrapper {width:80%; height:80%; margin:0auto: border:30px solid blue;}
header {color: orange }
p {font-family: tahoma;background-color:#FEFEFE; font-weight: 900 }
p.thick{ font-weight: 900 }
body {background-color: orange}

#R {background-color: red}

#W {background-color: white}

#B {background-color: blue}

footer {color: orange}
